*{
	margin: 0;
	padding: 0;

}

body{
	padding: 0;
	background-image: url(../images/pic1.jpg);
	background-size: cover;
	font-family: sans-serif;
	margin:0;
	width: 100%
	display:table-cell;

}

.LoginBox{
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: 40%;
	transition: width 2s;
	transform: translate(-50%,-50%);
	padding: 80px;
	width: 450px;
	height: 520px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
	/*margin: auto;*/
}

.LoginBox p{
	margin: 0;
	margin-bottom: 20px
	padding: 0;
	font-weight: bold;
	color: #fff;
	font-family: 'Amatic SC', cursive;
	font-size: 25px;
}

.LoginBox  input{

	margin-bottom: 10px;
	padding: 0;

}


.LoginBox input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
}

.LoginBox input[type="text"]{

	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
}

.LoginBox input[type="Date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;

}

.LoginBox  select {
	width: 100%;
	padding: 12px 20px;
	margin-top: 10px;
	background: transparent;
}

.LoginBox a{
	margin: 0;
	margin-bottom: 20px
	padding: 0;
	font-weight: bold;
	color: #fff;
	font-family: 'Amatic SC', cursive;
	font-size: 25px;

}	



h1{
	margin: 0;
	margin-bottom: 20px;
	text-align: center;
	padding: 0, 0, 20px,20px;
	position: center;
	font-family: 'Pacifico', cursive;
	font-size: 50px;

}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    margin-top: 20px;
    margin-left: 60px;
    text-decoration: none;
    background: #0069ed;
    border-radius: 10px;
    color: #ffffff;
    font-family: Satisfy,cursive;
    font-size: 30px;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
  background: rgba(0,0,0,.5);
 
}


